.cursor-trail {
  position: fixed;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--accent-color-light);
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 10000;
  transition: transform 0.03s ease-out, opacity 0.2s ease-in;
}

.dark-theme .cursor-trail {
  background-color: var(--accent-color-dark);
}

/* Splattering Particles */
.cursor-particle {
  position: fixed;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: var(--accent-color-light);
  pointer-events: none;
  z-index: 9999;
  opacity: 1;
  transition: transform 0.4s ease-out, opacity 0.4s ease-in;
}

.dark-theme .cursor-particle {
  background: var(--accent-color-dark);
}