#education {
    padding: 2rem;
  }
  
  .education-item {
    margin-bottom: 2rem;
  }
  
  .education-item h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .education-item h4 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #666; /* Adjust as needed */
  }
  
  .education-item .date {
    font-size: 1rem;
    color: #888; /* Adjust as needed */
    margin-bottom: 1rem;
  }
  
  .education-item ul {
    padding-left: 1.5rem;
    margin-bottom: 0;
  }
  
  .coursework-title{
    margin: 0;
  }