.main-header {
    position: sticky;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
    z-index: 100;
  }
  
  .main-header.visible {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  /* Logo Image Styling */
  .logo img {
    height: 50px; /* Adjust size as needed */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Added box-shadow transition */
  }
  
  .logo img:hover {
    transform: scale(1.1) rotate(5deg); /* Scale and rotate */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); /* More prominent shadow */
  }
  
  /* Navigation Links Styling */
  .navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navigation li {
    margin-left: 2rem; /* Space between nav items */
  }
  
  .navigation a {
    text-decoration: none;
    color: #333; /* Default color */
    font-weight: 600;
    padding: 0.5rem;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  .navigation a:before,
  .navigation a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #FFD700; /* Gold color */
    transition: width 0.3s ease-in-out;
    border-radius: 5px;
  }
  
  .navigation a:before {
    top: 0;
    left: 0;
  }
  
  .navigation a:after {
    bottom: 0;
    right: 0;
  }
  
  .navigation a:hover:before,
  .navigation a:hover:after {
    width: 100%;
  }
  
  /* Toggle Button Styling */
  .toggle-container button {
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out, transform 0.3s ease-in-out; /* Smooth transition for all properties */
  }
  
  .toggle-container button:hover {
    background-color: #fff;
    color: #000;
    border-color: #fff; /* Make border same as background */
    transform: scale(1.1);
  }
  
  /* Responsiveness for smaller screens */
  @media (max-width: 768px) {
    .header-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navigation ul {
      flex-direction: column;
      width: 100%;
    }
  
    .navigation li {
      margin-left: 0;
      margin-bottom: 0.5rem;
    }
  
    .navigation {
      margin-top: 1rem;
    }
  
    .toggle-container {
      margin-top: 1rem;
      align-self: center;
    }
  
    .navigation a {
      font-size: 0.8rem;
    }
  
    .logo img {
      height: 40px;
    }
  }