#experience {
    padding: 2rem;
  }
  
  .work-experience-item {
    margin-bottom: 2rem;
  }
  
  .work-experience-item h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .work-experience-item h4 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #666; /* Adjust as needed */
  }
  
  .work-experience-item .date {
    font-size: 1rem;
    color: #888; /* Adjust as needed */
    margin-bottom: 1rem;
  }
  
  .work-experience-item ul {
    padding-left: 1.5rem;
  }