:root {
  --bg-color-light: #ffffff; /* White background */
  --text-color-light: #1a237e; /* Indigo dark blue text */
  --accent-color-light: #004aad; /* Royal blue accent */
  --orbit-color-light: #6a6acd; /* Light-blue/purplish orbit */
  --orbit-color-hover-light: #002171; /* Darker blue on hover */
  --toggle-bg-light: #f0f0f0; /* Light gray toggle background */
  --toggle-icon-light: #ffcc66; /* Yellow sun icon */
  --particle-color: #000052;

 --bg-color-dark: #000000; 
  --text-color-dark: #ffcc80; 
  --accent-color-dark: #ff9800; 
  --orbit-color-dark: #ffcc80; 
  --orbit-color-hover-dark: #e65100; 
  --toggle-bg-dark: #333333; 
  --toggle-icon-dark: #fbc02d;  

}
/* Global styles */
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  transition: background-color 0.3s, color 0.3s;
  overflow: hidden; /* Hide vertical scrollbar on the body */
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
  overflow-y: scroll; /* Enable scrolling but hide scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* Section styles */
section {
  padding: 4rem 2rem;
}

/* Welcome section */
.welcome-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-light);
}

.dark-theme .welcome-section {
  background-color: var(--bg-color-dark);
}

/* Experience section */
.experience-section {
  background-color: var(--bg-color-light);
}

.dark-theme .experience-section {
  background-color: var(--bg-color-dark);
}

/* Projects section */
.projects-section {
  background-color: var(--bg-color-light);
}

.dark-theme .projects-section {
  background-color: var(--bg-color-dark);
}

/* Skills section */
.skills-section {
  background-color: var(--bg-color-light);
}

.dark-theme .skills-section {
  background-color: var(--bg-color-dark);
}

/* Education section */
.education-section {
  background-color: var(--bg-color-light);
}

.dark-theme .education-section {
  background-color: var(--bg-color-dark);
}

/* Contact section */
.contact-section {
  background-color: var(--bg-color-light);
}

.dark-theme .contact-section {
  background-color: var(--bg-color-dark);
}

/* Other dark theme styles... */
.dark-theme {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.dark-theme::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.dark-theme .bg-initials {
  filter: drop-shadow(0 0 2px white);
}
