:root {
  /* Enhanced Light Theme Colors */
  --bg-color-light: #f8f8fa;
  /* Soft white background */
  --text-color-light: #282c34;
  /* Dark gray for better readability */
  --accent-color-light: #007acc;
  /* Calming blue accent */
  --accent-color-light-hover: #005fa3;
  /* Darker blue on hover */
  --orbit-color-light: #579aff;
  /* Light blue orbit */
  --orbit-color-hover-light: #0047ab;
  /* Darker orbit on hover */
  --toggle-bg-light: #f0f0f0;
  /* Light gray toggle background */
  --toggle-icon-light: #ffcc66;
  /* Yellow sun icon */
  --particle-color: #000052;
  /* Dark blue for particles */

  /* Enhanced Dark Theme Colors */
  --bg-color-dark: #181a1b;
  /* Darker gray background */
  --text-color-dark: #d1d1cf;
  /* Off-white text */
  --accent-color-dark: #ffb74d;
  /* Warm orange accent */
  --accent-color-dark-hover: #ff9800;
  /* Darker orange on hover */
  --orbit-color-dark: #ffcc80;
  /* Light orange orbit */
  --orbit-color-hover-dark: #e65100;
  /* Darker orbit on hover */
  --toggle-bg-dark: #282c34;
  /* Dark gray toggle background */
  --toggle-icon-dark: #fbc02d;
  /* Golden moon icon */
  --particle-color-dark: #ffcc80;
}

/* Global styles */
body {
  margin: 0;
  font-family: "Inter", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  transition: background-color 0.3s, color 0.3s;
  overflow-x: hidden;
  color: var(--text-color-light);
  background-color: var(--bg-color-light);
}

.dark-theme {
  color: var(--text-color-dark);
  background-color: var(--bg-color-dark);
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  /* Enable scrolling but hide scrollbar */
  scrollbar-width: thin;
  /* Firefox */
  -ms-overflow-style: scrollbar;
  /* IE and Edge */
  scroll-padding-top: 65px;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background: var(--bg-color-light);
}

.dark-theme ::-webkit-scrollbar-track {
  background: var(--bg-color-dark);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--orbit-color-light);
  /* Color of the scroll thumb */
  border-radius: 20px;
  /* Rounded corners on the scroll thumb */
  border: 3px solid var(--bg-color-light);
}

.dark-theme ::-webkit-scrollbar-thumb {
  background-color: var(--orbit-color-dark);
  border-color: var(--bg-color-dark);
}

/* Section styles */
section {
  padding: 6rem 2rem;
  /* Increased padding */
  min-height: 85vh;
  /* Ensure sections take up full viewport height */

  /* Center content vertically */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  /* Subtle divider */
}

.dark-theme section {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Section Title Styles */
.section-title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 4rem;
  color: var(--accent-color-light);
  letter-spacing: 1px;
  /* Add slight letter spacing */
}

.dark-theme .section-title {
  color: var(--accent-color-dark);
}

/* Specific Section Backgrounds with subtle patterns */
.welcome-section,
.experience-section,
.projects-section,
.skills-section,
.education-section,
.contact-section {
  background-color: var(--bg-color-light);
  position: relative;

}

.dark-theme .welcome-section,
.dark-theme .experience-section,
.dark-theme .projects-section,
.dark-theme .skills-section,
.dark-theme .education-section,
.dark-theme .contact-section {
  background-color: var(--bg-color-dark);
}

.dark-theme .bg-initials {
  filter: drop-shadow(0 0 2px white);
}